*

!.gitignore
!.pre-commit-config.yaml
!justfile
!Dockerfile
!README.md
!LICENSE
!Cargo.toml
!Cargo.lock

!/src
!/src/*.rs

!/tests

!/docs

!/examples

!/.github
!/.github/worklows
!/.github/worklows/*.yml
!/.github/worklows/*.yaml

