*

!.gitignore
!.pre-commit-config.yaml
!justfile
!Dockerfile
!INSTALL.sh
!README.md
!LICENSE
!Cargo.toml
!Cargo.lock
!Cross.toml

!/src
!/src/*.rs

!/tests

!/docs

!/examples

!/.github
!/.github/workflows
!/.github/workflows/*.yml
!/.github/workflows/*.yaml

